@model List<WebCMS.Models.LabOrder>
@{
    ViewData["Title"] = "Lab Orders for Patient";
   
   
   
}
<div>

    <h2 class="text-center">Lab Orders for Patient </h2>
    <h1 class="text-success">@ViewBag.Patient.FullName</h1>
</div>


@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Test Name</th>
               
                <th>Order Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var order in Model)
        {
            <tr>
                
               <td>@order.Test.Name</td>
               
                <td>@order.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (order.Status == "Pending")
                    {
                        <span class="badge bg-warning text-dark">@order.Status</span>
                    }
                    else if (order.Status == "Completed")
                    {
                        <span class="badge bg-success">@order.Status</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">@order.Status</span>
                    }
                <td>
                    @if (order.Status == "Pending")
                    {
                        <a class="btn btn-danger">Cancel</a>
                        
                    }
                    else if (order.Status == "Completed")
                    {
                        <a asp-controller="Lab" asp-action="ViewAllResults" asp-route-OrderId="@order.Id" class="btn btn-secondary">View Results</a>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No Actions Available</span>
                    }
                  
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No lab orders available for this patient.</p>
}

<a asp-controller="Lab" asp-action="CreateLabOrder" asp-route-DoctorId="@ViewBag.DoctorId" asp-route-PatientId="@ViewBag.PatientId" class="btn btn-warning">Create Order</a>

